<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <a href="product-detail.html">
                            <img src="assets/images/products/placeholder.png" class="img-responsive">
                        </a>
                        <a href="product-detail.html">
                            <h1>Lorem ipsum dolor sit amet</h1>
                        </a>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-box">
                        <img src="assets/images/products/placeholder.png" class="img-responsive">
                        <h1>Lorem ipsum dolor sit amet</h1>
                        <h2>Duis aute irure dolor in reprehenderit in voluptate </h2>
                        <div class="price">19.22 $</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>

            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <div class="items">
                            <label>Item per page</label> <select>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>40</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="number">1 - 10 of 100</div>
                    </div>
                    <div class="col-md-1">
                        <div class="arrows">
                            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT-->

<!-- <table class="table table-hover">

    <thead>
        <tr>
            <th>Image</th>
            <th>name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td>
                <img src="{{ tempProduct.imageUrl }}" height="50" />
            </td>
            <td>{{ tempProduct.name }}</td>
            <td>{{ tempProduct.unitPrice | currency:'USD' }}</td>
            <td>{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table> -->